*.la
*.lo
*.o
.deps
.libs
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
stamp-h1

.waf-*
.lock-wscript
_build_

intltool-extract.in
intltool-extract
intltool-merge.in
intltool-merge
intltool-update.in
intltool-update

po/.intltool-merge-cache
po/POTFILES
po/midori.pot
po/stamp-it
po/*.gmo

midori
midori.desktop
