
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Midori Web Browser
GenericName=Web Browser
Comment=Lightweight web browser
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;
Exec=midori %u
Icon=web-browser
Terminal=false
StartupNotify=true
