<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:gnome="http://api.gnome.org/doap-extensions#"
  xmlns="http://usefulinc.com/ns/doap#">

  <name xml:lang="en">midori</name>
  <shortdesc xml:lang="en">Midori is a lightweight web browser</shortdesc>
  <homepage rdf:resource="http://www.twotoasts.de"/>
  <mailing-list rdf:resource="http://foo-projects.org/mailman/listinfo/xfce"/>

  <maintainer>
    <foaf:Person>
      <foaf:name>Christian Dywan</foaf:name>
      <foaf:mbox>christian@twotoasts.de</foaf:mbox>
      <gnome:userid>kalikiana</gnome:userid>
    </foaf:Person>
  </maintainer>
</Project>
