<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="org.midori_browser.midori">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:usesCleartextTraffic="true"
            android:label="@string/appName"
            android:icon="@drawable/ic_midori"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:targetApi="m">
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
                   android:value="false"/>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut"
                   android:value="true"/>
        <activity android:name=".BrowserActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
