div.suggestions {
    -webkit-appearance: listbox;
    text-align: left;
    position: absolute;
    z-index: 999;
}
div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}
div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
